@font-face {
  font-family: lexend;
  src: url(./fonts/Lexend.ttf);
}

@font-face {
  font-family: lxgw;
  src: url(./fonts/LXGWMarkerGothic-Regular.ttf);
}

:root {
  --text: #121212;
  --bg: #fff9f2;
  --c: #e56b6f;
  --font: Lexend, lxgw, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font);
  font-size: 24px;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
}

button {
  border: 0;
  padding: 6px 12px;
  font-family: var(--font);
  font-size: 24px;
  user-select: none;
}

.clicky {
  background-color: gray;
  color: #fff;
  box-shadow: 0 5px #000;
}

.clicky:active {
  box-shadow: 0 0 #000;
  transform: translateY(5px);
  transition: all .1s;
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}