@font-face {
  font-family: lexend;
  src: url(./fonts/Lexend.ttf);
}

@font-face {
  font-family: lxgw;
  src: url(./fonts/LXGWMarkerGothic-Regular.ttf);
}

:root {
  --text: #121212;
  --bg: #fff9f2;
  --c: #e56b6f;
  --red: #ffb1b1;
  --orange: #ffd0a8;
  --yellow: #fff3aa;
  --blue: #b7efff;
  --purple: #d9d1ff;
  --font: Lexend, lxgw, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font);
  font-size: 24px;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
  user-select: none;
}

button {
  border: 4px solid var(--c);
  border-radius: 12px;
  cursor: pointer;
  color: var(--text);
  padding: 6px 12px;
  font-family: var(--font);
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  background-color: var(--bg);
}

.clicky {
  box-shadow: 0 3px var(--c);
}

.clicky:hover {
  box-shadow: 0 5px var(--c);
  transform: translateY(-2px);
}

.clicky:active {
  box-shadow: 0 0 var(--c);
  transform: translateY(3px);
}

.little-square {
  aspect-ratio: 1;
}

::selection {
  background-color: var(--text);
  color: var(--bg);
}

/* toaster. sorry but you made me. */

.base {
  box-shadow: none !important;
  border: 4px solid var(--c) !important;
  border-radius: 12px !important;
  background: var(--bg) !important;
  color: var(--text) !important;
}